In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/devangpatel/Desktop/python-challenge copy/python-challenge/PyBank/Resources/budget_data.csv")

In [3]:
print(df)

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [4]:
df["Date"].value_counts()

Jan-10    1
Jul-14    1
Mar-15    1
Feb-15    1
Jan-15    1
         ..
Apr-12    1
Mar-12    1
Feb-12    1
Jan-12    1
Feb-17    1
Name: Date, Length: 86, dtype: int64

In [5]:
counts = df["Date"].value_counts()

In [6]:
df["Profit/Losses"].sum()

22564198

In [7]:
print("Total Months: ", len(counts))

print("Total: ", df["Profit/Losses"].sum())

Total Months:  86
Total:  22564198

In [8]:
df["Profit/Losses"].diff()

0           NaN
1    -1443517.0
2      631156.0
3    -1004755.0
4     1581126.0
        ...
81   -1627245.0
82     616795.0
83     628522.0
84      90895.0
85    -224669.0
Name: Profit/Losses, Length: 86, dtype: float64

In [9]:
df["Profit/Losses"].diff().mean()

-8311.105882352942

In [10]:
result = df["Profit/Losses"].diff().mean()

In [11]:
print(f"{result:.2f}")

-8311.11

In [12]:
df["Profit/Losses"].diff().max()

1862002.0

In [13]:
df["change"] = df["Profit/Losses"].diff()

In [14]:
df["change"].max()

1862002.0

In [15]:
print(df)

      Date  Profit/Losses     change
0   Jan-10        1088983        NaN
1   Feb-10        -354534 -1443517.0
2   Mar-10         276622   631156.0
3   Apr-10        -728133 -1004755.0
4   May-10         852993  1581126.0
..     ...            ...        ...
81  Oct-16        -729004 -1627245.0
82  Nov-16        -112209   616795.0
83  Dec-16         516313   628522.0
84  Jan-17         607208    90895.0
85  Feb-17         382539  -224669.0

[86 rows x 3 columns]

In [16]:
max = df[df["change"]==df["change"].max()]

In [17]:
print(df[df['change']==df['change'].max()])

      Date  Profit/Losses     change
79  Aug-16         951227  1862002.0

In [18]:
df["change"].min()

-1825558.0

In [19]:
print(df[df['change']==df['change'].min()])

      Date  Profit/Losses     change
49  Feb-14        -946748 -1825558.0

In [20]:
print("Financial Analysis")

print("-------------------------")

print("Total Months: ", len(counts))

print("Total: ", df["Profit/Losses"].sum()) 

print("Average Change: ", f"${result:.2f}")

print("Greatest Increase in Profits: ", df.iloc[79, 0], int(df["change"].max()))

print("Greatest Decrease in Profits: ", df.iloc[49, 0], int(df["change"].min()))

Financial Analysis
-------------------------
Total Months:  86
Total:  22564198
Average Change:  $-8311.11
Greatest Increase in Profits:  Aug-16 1862002
Greatest Decrease in Profits:  Feb-14 -1825558